node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test
.env.test.local
README.md
.vscode
.idea
dist
coverage
.DS_Store
